
body {
    background-color: rgb(246, 222, 222);
    padding:15px;
}

.prime {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-size: 10px;
    color: rgb(255, 81, 0);
    /* text-shadow: rgb(0, 0, 0) 1px 1px 1px; */
    height: 68vh;
    padding-top: 200px;
    text-align: center;
    background-image: url('../materials/dices.jpg');
    background-color:rgb(246, 222, 222);
    background-blend-mode: multiply;
}

h1 {
    margin-bottom: 50px;
    font-size: 30px;
    color: indigo;
}

.game {
    text-align: center;

}

img {
    max-width: 60px;
    transform:rotate(30deg)
}

.Main {
    display: grid;
    grid-template-rows: 30vh 66vh;

}

.title {

    background-color: rgba(255,255,255,0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    
}

.dice {
    margin-left: 10px;
    border-radius: 8px;
}

.display {
    margin: 20px;
    height: 30vh;
}

.move:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}

.move {
    border-left: 1px rgb(177, 176, 176) solid;
}
.table {
    width: 98vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.ptable {
    width: 30%;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
}

.gamelobby {
    text-align: center;
    height: 90vh;
    background-image: url('../materials/dices.jpg');
    background-color:rgb(246, 222, 222);
    background-blend-mode: multiply;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.top {
    height: 25vh;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 5vw;
}

.chat {
    background-color: white;
    height: 28vh;
    padding-top: 10px;
    box-shadow: 5px 5px 5px black;
    width: 27vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    align-self: center;
}

.lobbychat {
    background-color: white;
    height: 28vh;
    padding-top: 10px;
    box-shadow: 5px 5px 5px black;
    width: 27vw;
    border-radius: 30px;
    align-self: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messdispl {
    height: 13vh;
}

.mess1 {
    display: flex;
    border-radius: 20px;
    background-color: yellow;
    margin-top: 4px;
    padding-left: 3px;
    text-align: left;
    word-wrap: break-word
}
.mess2 {
    display: flex;
    border-radius: 20px;
    background-color: salmon;
    margin-top: 4px;
    padding-left: 3px;
    text-align: left;
    word-wrap: break-word
}

.mess3 {
    display: flex;
    border-radius: 20px;
    background-color: skyblue;
    margin-top: 8px;
    padding-left: 4px;
    text-align: left;
    word-wrap: break-word
}

.info {
    background-color: white;
    height: 24vh;
    width: 20vw;
    padding: 15px;
    border-radius: 30px;
    color: white;
    letter-spacing: 1.5px;
    font-size: x-large;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 2px 2px 0 #000, -1px 0 1px #000;
    box-shadow: 5px 5px 5px black;
    text-justify: center;

}

.rolltable {
    width: 45vw;
}



.mess0 {
	display: flex;
    border-radius: 20px;
    background-color: green;
    margin-top: 4px;
    padding-left: 3px;
    text-align: left;
    word-wrap: break-word
}

.rewind {
    font-size: 40px;
    cursor: pointer;
    width: 42px;
    margin: auto
}

.rewind:hover {
    filter: grayscale(100%);
}

mess-1 {
    display: flex;
    border-radius: 20px;
    margin-top: 4px;
    padding-left: 3px;
    text-align: left;
    word-wrap: break-word
}
